html {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    cursor: url('../images/cursor-smile.png'), auto; 
}

.home {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
}