html {
    background: white;
    color: black;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.folder {
    width: 80%;
    height: auto;
}

.img-container {
    text-align: center;
}

#mac {
    z-index: 0;
    width: 30%;
    margin-top: 30vh;
    margin-left: auto;
}

.project-names {
    margin: auto;
    padding-top: 5px;
    font-size: 10px;
}

.icon-container {
    background: transparent;
    text-align: center;
    visibility: hidden;
    width: 100px;
    height: auto;
    position: absolute;
    padding: 10px 0px;
    border-radius: 5px;
}

.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: white;
    color: black;
    text-align: center;
    border: 2px dashed pink;
    border-radius: 5px;
    padding: 15px;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 175%;
    margin-left: -60px;
}

.icon-container:hover .tooltiptext {
    visibility: visible;   
}

/* @media screen and (min-width: 601px) {

    #text {
        display: block;
        margin-left: 20px;
        line-height: 300%;
        margin-top: 220px;
    
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted rgb(250, 212, 227);
        margin-left: 20px;
        font-size: 8px;
        color: yellow;
        margin-top: 200px;  
    }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: none;
        color: yellow;
        text-align: center;
        padding: 0px 10px;
        border-radius: 6px;
       
        position: absolute;
        z-index: 1;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
      
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  /* @media screen and (max-width: 600px) {

    #text {
        display: block;
        margin-left: 20px;
        line-height: 300%;
        margin-top: 220px;
    
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted yellow;
        margin-left: 20px;
        font-size: 8px;
        color: yellow;
        margin-top: 200px;  
    }
      
      .tooltip .tooltiptext {
        visibility: visible;
        width: 120px;
        background-color: none;
        color: yellow;
        text-align: center;
        padding: 0px 10px;
        border-radius: 6px;
       
        position: absolute;
        z-index: 1;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
  }



@keyframes fade-out {
    to {
      opacity: 0;
    }
}

@keyframes fade-in {
    to {
      opacity: 100;
    }
}



@keyframes flickerAnimation {
    0%   { opacity:0; }
    89%   { opacity:0; }
    90%  { opacity:1; }
    95% { opacity:0; }
    100%  { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@keyframes flicker {
    96% {
        opacity: 0;
    }
    97% {
      opacity:1;
    }
    98% {
      opacity:0;
    }
    99% {
      opacity:1;
    }
  }*/